/* Color */

$white: #FFFFFF;
$black: #000000;
$main-black: #262626;
$light-grey: #F8F8F8; 
$grey: #828282;
$dark-grey: #434343;
$orange: #FBC238;


/* Font-size */

$main-title: 52px;
$second-title: 42px;
$m-title: 30px;
$main-size: 18px;
$second-size: 16px;
$litle-size: 14px;


/* Font-family */

$main-font: 'Graphik LCG', sans-serif;
$title-font: 'DinWebNarrowDemi', sans-serif;
$bold-font: 'DINPro-CondBold', sans-serif;
